* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.Fondo {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Fondo-imgWindows {
    position: relative;

    max-width: 100%;
    /* height: 100%; */
    object-fit: contain;
    z-index: -1;

}

.Btn-empezar a{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    background-color: aquamarine;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    
}
.Btn-empezar-a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Btn-empezar-a:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

h1{
    position: absolute;
    top: 20%;
    left: 50%;
}

.FondoPrimeraCapa{
    position: relative;
    top: 0;
}

.Fondo-bart {
    position: relative;
    bottom: 300px;
    width: 200px;
    
}